.cardProducto {
    width: 20rem;
    margin: 15px;
    background-color: white;
}

.cardProductos {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.cardBody {
    background-color: white;
    margin-bottom: 10px;
    text-align: center;
}

img {
    margin: 10px;
}
.itemDetail {
    max-width: 600px;
    margin-top: 80px;
}

.boton { 
    color: black;
    margin: 10px;

}

.cart { 
    background: fixed;
    border-color: blue;
    border-radius: 15px;
}
